extends layout 

block content 
  h2 Update #{item.name}:
  form(action=item.url+'/update' method="POST")
    p
      label(for="name") Name: 
      input(id="name" name="name" value=item.name) 
    p
      label(for="description") Description: 
      textarea(id="description" name="description") #{item.description}
    p Category:
      each val in categories
        
        if val.name == item.category.name
          input(id=val.name name="category" value=val.name type="radio" checked)
        else
          input(id=val.name name="category" value=val.name type="radio") 
        label(for=val.name)  #{val.name}
        br


    p
      label(for="price") Price: 
      input(id="price" name="price" value=item.price type="number") 
    p
      label(for="quantity") Quantity: 
      input(id="quantity" name="quantity" value=item.quantity type="number") 